{% extends "base.html" %}
{% block extra-nav %}
    <div id="modal-lightbox" class="custom-modal">
        <p class="close">CLOSE</p>
        <img src="" class="modal-content" id="modal_image">
        <div id="caption"></div>
    </div>
{% endblock %}
{% block content %}
    <div class="container text-right mt-3 ">
            <a class="landing-link" href="{% url 'mostaardimgur:album-list' %}">Meer beeldmateriaal
                <span
                        class="fa fa-chevron-right ml-2"></span></a>
        </div>
    {% include "mostaardimgur/album-inner.html" %}
{% endblock %}