<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'opengym/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/9d1627fd30.js"></script>
    <script src="{% static 'opengym/opengym.js' %}"></script>
    {% block extra_head %}

    {% endblock %}
    <meta charset="UTF-8">
    <title>{% block page-title %}{% endblock %}</title>
</head>
<body onload="{% block onload %}
    {% endblock %}">
<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand ml-5" href="{% url 'coursemanaging:landing' %}"> Open Gym</a>
    <ul class="collapse navbar-collapse justify-content-md-center">
        <li>
            {% if current_page == 'courses' %}
            <a class="nav-link" href="{% url 'coursemanaging:course-list' %}">
                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                Lessen
                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
            </a>
            {% else %}
            <a class="nav-link" href="{% url 'coursemanaging:course-list' %}">
                Lessen
            </a>
            {% endif %}

        </li>
        <li>
            {% if current_page == 'news' %}
            <a class="nav-link" href="{% url 'coursemanaging:news' %}">
                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                Nieuws
                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
            </a>

            {% else %}
            <a class="nav-link" href="{% url 'coursemanaging:news' %}">Nieuws</a>
            {% endif %}

        </li>
        <li>
            {% if current_page == 'calendar' %}
            <a class="nav-link" href="{% url 'coursemanaging:calendar' %}">
                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                Kalender
                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
            </a>

            {% else %}
            <a class="nav-link" href="{% url 'coursemanaging:calendar' %}">Kalender</a>
            {% endif %}
        </li>

    </ul>
    <ul class="nav navbar-nav navbar-right mr-5">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn-lg" id="dropdown01" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">{{user.first_name}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{% url 'coursemanaging:courses-user' %}">Lessen</a>
                <a class="dropdown-item" href="{% url 'coursemanaging:user-detail' %}">Uw gegevens</a>
                <a class="dropdown-item" href="{% url 'coursemanaging:logout' %}">Logout</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn-lg" id="dropdown02" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Login</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
                <a class="dropdown-item" href="{% url 'coursemanaging:login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'coursemanaging:user-register' %}">Register</a>
            </div>
        </li>
        {% endif %}
    </ul>
    {% block extra_nav %}
    {% endblock %}
</nav>

<div class="base container">
    {% block content %}
    {% endblock %}
</div>
{% block content-no-div %}
{% endblock %}
</body>
</html>