.sidebar {
  position: fixed;
  top: 47px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  height: 100%;
  background:green;
  padding-left: 0;
  padding-right: 0;
  padding-top:2em;
}

.sidebar .nav {
background :pink;
width:100%
}

.sidebar .nav-link{
margin-top:0.5em;
width:100%
}

.nav-link time{
color:red;
float:right;
}

.nav-link div{
float:left;
}

.sidebar .nav-item {
width:100%
}

.news-item{
background-color:AntiqueWhite ;
}

