ul {
list-style-type: none;
}

body {
font-family: Verdana, sans-serif;
    align-items:center;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
}

.navbar {
  margin-bottom: 0;
  background-color: #969696;
  border-bottom : 3px solid white;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

/*
================
CALENDAR STYLING
================
*/
:root {
  --main-color: #277554;
  --main-color-darker: #3B5F4F;
  --main-color-darkest: #434946;
  --main-color-brighter: #068A51;
  --main-color-brightest: #009E5A;

  --compl-color:#AA5939;
  --compl-color-darker:#8A6556;
  --compl-color-darkest:#6B6461;
  --compl-color-brighter:#CA4009;
  --compl-color-brightest:#E74200;
}

.calendar{
border-collapse: collapse;
color:#545454;
}

/* Calendar title*/
.calendar-month-title{
    padding: 70px 25px;
    width: 100%;
    background: #E74200;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align : center;
}

/* calendar table */
.calendar {
    padding: 70px 25px;
    width: 100%;
    background: #E74200;
    text-align: center;
}

/* calendar list */
.calendar table {
    margin: 0;
    padding: 0.5em;
}

.calendar table td {
    vertical-align:top;
    text-align : left;
    padding-left: 0.5em;
    font-size : 0.8em;
}


/* Weekdays (Mon-Sun) */
.weekday {
    margin: 0;
    padding: 10px 0;
    background-color:pink;
    color:white;
    text-align :center;
    width: 13.6%;

}

/* Days (1-31) */
.day {
    width 50em;
    background: #eee;
    margin: 0;
}



.day-today{
padding : 1em;
background : gold;
border:1px solid black;
}

.calendar-day-events a{
color:white;
text-decoration:none;
}

.calendar-day-events a:hover{
color:crimson;
}

.month-next {
float:right;
}

.month-prev {
float:left;
}

.month-nav{
padding:2em;
    color: white;
    -webkit-transition: 0.5s;
          transition: 0.5s;
}

.month-nav:hover{
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.session-subscribed{
background : green;
}

.course-subscribed{
background : yellow;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.course-create {
    float : right;
}



