ul {
list-style-type: none;
padding:0;
margin:0;
}

body {
    align-items:center;
    margin: 0;
    padding: 0;
    padding-top: 7rem;
    background-color: #FBFBFB;
}



.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}
/*
================
NAVIGATION STYLING
================
*/


.navbar {
  font-family: 'Megrim', cursive;
  margin-bottom: 0;
  background-color: #F6F6F6;
  border-bottom : 5px solid white;
  font-size : 160%;
}

.navbar a{
 color:red:
}

.justify-content-md-center{
margin-right: 5em;
}

.navbar-right{
width : 5em;
}

.navbar-brand{
color:#3a6826;
}
.navbar-brand:hover{
color:#CCCCCC;
}

.nav-link{
color:#3a6826;
}


.nav-link:hover{
color:#CCCCCC;
}

/*
================
CALENDAR STYLING
================
*/


/* Calendar title*/
.calendar-month-title{
    padding: 70px 25px;
    width: 100%;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align : center;
}

/* calendar table */
.calendar {
    font-family: 'Julius Sans One', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.5em;
    border-collapse: separate;
    height:85vh;
    width:96%;
    margin: 0 auto;
}


.calendar td {
    vertical-align:top;
    font-size : 0.9em;
}


/* Weekdays (Mon-Sun) */
.weekday {
    margin: 0;
    padding-right: 0.5em;
    color:black;
    text-align :right;
    width: 13.6%;
    border-left : 3px solid black;
    border-right : 3px solid white;

}

/* Days (1-31) */
.day {
    width 50em;
    margin: 0;
    border-left : 3px solid black;
    border-right : 3px solid white;
    height:120px;
}

.day-filled {
background:black;
color:white;
 border-left : 3px solid black;
  border-right : 3px solid white;
}

.noday{
 border-left : 3px solid black;
  border-right : 3px solid white;
}


.day-today{
border-left : 3px solid black;
border-right : 3px solid white;
color:crimson;
font-size: 200%;
}



.day-head{
padding-left:0.5em;
text-align: left;
border-bottom : 1px solid black;
}

.day-filled .day-head{
border-bottom : 1px solid white;
}

.calendar-day-events a{
color:white;
text-decoration:none;
float:right;
margin-right:0.5em;
}

.calendar-day-events time{
float:left;
margin-left:0.5em;
}



.calendar-day-events a:hover{
color:crimson;
}

.month-next {
float:right;
}

.month-prev {
float:left;
}

.current-news{
padding-right:2em;
}

.month-header{
height: 5vh;
}

.month-nav{
padding:2em;
    color: black;
    -webkit-transition: 0.5s;
          transition: 0.5s;
}

.month-nav:hover{
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*
================
NEWS STYLING
================
*/

.sidebar {
  font-family: 'Quattrocento', serif;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 6px solid white;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top:2em;
  background-color: #F6F6F6;
}

.sidebar .nav {
width:100%
}

.sidebar .nav-link{
  width:100%;
  background-color: #F6F6F6;
  color : color:#3a6826;
}

.nav-link time{
float:right;
}

.nav-link div{
float:left;
}

.sidebar .nav-item {
width:100%
}

.news-item{
font-family: 'Quattrocento', serif;
width:50%;

}
.news-item p{
padding-top : 2em;
border-top : 1px solid black;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.course-create {
    float : right;
}

/*
