{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'opengym/news.css' %}"/>
<script src="{% static 'opengym/news.js' %}"></script>
<script type="text/javascript">
      window.CSRF_TOKEN = "{{ csrf_token }}";


</script>
{% endblock %}
{% block content %}
<div class="container-fluid">
        <div class="sidebar col-sm-2 hidden-xs">
            <ul class="nav nav-pills flex-column">
                {% for news_item in news_items %}
                <li class="nav-item">
                    <button id="{{news_item.id}}" type="button" class="nav-link btn news-link">
                        <div>{{news_item.title}}</div>
                        <time>{{news_item.publication_date|date:"d-g-o"}}</time>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <main class="news-item open-gym-page" role="main">
            {% if news_item %}
            {% include "coursemanaging/news-item.html" %}
            {% else %}
            <h2>Er is nog geen nieuws</h2>
            {% endif %}
        </main>
</div>
{% endblock %}