{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
<script src="{% static 'opengym/datepicker/js/bootstrap-datepicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'opengym/datepicker/css/bootstrap-datepicker.css' %}"/>
<script>
  $( function() {
    $('.datepicker').datepicker({
    format: 'dd/mm/yyyy', });
    });

</script>
{% endblock %}
{% block content %}

<div class="open-gym-page">
    <h1>Registratie</h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Save"/>
    </form>
</div>
{% endblock %}