{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( ".datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
  } );
</script>
{% endblock %}


{% block content %}
<form method="POST">
    {% csrf_token %}
    {% crispy form %}
    <input class="btn btn-primary" type="submit" value="Save"/>
</form>
{{form.nameform|crispy}}
{% endblock %}