{% extends "base.html" %}
{% block content %}
<div class="open-gym-page">
    <div class="mt-4">
        <h3 class="">Uw gegevens</h3>
    </div>
        <table class="table mt-4">
            <tbody>
            <tr>
                <th scope="row">Naam</th>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <th scope="row">Voornaam</th>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <th scope="row">Geboortedatum</th>
                <td>{{user.birthdate|date:'d/m/o'}}</td>
            </tr>
            <tr>
                <th scope="row">Leerkracht</th>
                <td>{{user.teacher|yesno:"Ja,nee"}}</td>
            </tr>
            </tbody>
        </table>

</div>
{% endblock %}