{% extends "base.html" %}
{% block content %}
<div class="open-gym-page">
    <div class="mt-4">
        <h3 class="float-left">Uw gegevens</h3>
        <a class="btn btn-outline-success float-right mr-5" href="{% url 'coursemanaging:user-update' %}"><span
                class="fa fa-refresh" aria-hidden="true"></span></a>
        <div style="clear: both;"></div>
    </div>
        <table class="table mt-4">
            <tbody>
            <tr>
                <th scope="row">Naam</th>
                <td>{{user.last_name}}</td>
            </tr>
            <tr>
                <th scope="row">Voornaam</th>
                <td>{{user.first_name}}</td>
            </tr>
            <tr>
                <th scope="row">Geboortedatum</th>
                <td>{{user.birthdate|date:'d/m/o'}}</td>
            </tr>
            <tr>
                <th scope="row">Vrijwilliger</th>
                <td>{{user.volunteer|yesno:"Ja,nee"}}</td>
            </tr>
            <tr>
                <th scope="row">Leerkracht</th>
                <td>{{user.teacher|yesno:"Ja,nee"}}</td>
            </tr>
            </tbody>
        </table>

</div>
{% endblock %}